*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    background-color: blueviolet;
    width: 50vw;
    height: 50vw;
    align-items: center;
}
.first_sub{
    width: 100%;
    height: 5%;
    background-image: url(icons8-fire-48.png);
    background-color: white;
    animation: anime2 3s ease-in 2s 6 forwards;
}
.sub_divs img{
    width: 20%;
    height: 20%;

    /* animation-name: anme1;
    animation-duration: 3s;
    animation-iteration-count: 6;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in; */
    /* animation: name duration timing-function delay count fill mode; */
    animation: anme1 3s ease-in 1s 6 forwards;
}
@keyframes anme1{
    from{
        margin-top: 5%;
    }to{
        margin-top: 100%;
    }
}
@keyframes anime2{
    from{
        margin-top: 3%;
    }to{
        margin-top: 100%;
    }
}